{{=<% %>=}}<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <% #items %>
            <key><% name %></key>
            <dict>
                <key>frame</key>
                <string>{{<% x %>,<% y %>},{<% width %>,<% height %>}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{<% width %>,<% height %>}}</string>
                <key>sourceSize</key>
                <string>{<% width %>,<% height %>}</string>
            </dict>
            <% /items %>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string><% sprite.name %></string>
            <key>size</key>
            <string>{<% sprite.total_width %>,<% sprite.total_height %>}</string>
            <key>textureFileName</key>
            <string><% sprite.name %></string>
        </dict>
    </dict>
</plist><%={{ }}=%>
